
div.conhecimentos {
    position: relative;
    height: 100%;
    padding: 50px 2%;
    z-index: 3;
}

div.title-habilidade {
    margin: 0 auto;
}

div.icon-habilidade{
    padding: 20px 0;
    margin: 0 auto;
    /* background-color:red; */
}

div.icon-habilidade i{
    margin-right: 10px;
    font-size: 40px;
}