div.conhecimentos {
    position: relative;
    height: 100%;
    padding: 30px 2%;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title-habilidades{
    background-color: green;
    width: 100%;
}

.conhecimentos h2{
    position: relative;
    color:white;
    background-color: red;
    margin: 1000 auto;
    
}