.top-title{
    position: relative;
    height: 45vh;
    background-image: url(../images/capa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.info-title{
    z-index: 2;
    color: white;
}

.info-title img{
    height: 100px;
}

.info-title h2{
    font-size: 36px;
}

.info-title p{
    font-size:22px;
}

nav.menu-desktop{
    background-color: #eb6a2d;
    padding: 15px 2%;
}

nav.menu-desktop li{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
}

nav.menu-desktop li a{
    color:white;
}

nav.menu-desktop li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 780px){

    .info-title{
        width: 100%;
        padding: 0 2%;
    } 

}