.top-title{
    position: relative;
    height: 45vh;
    background-image: url(../images/capa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.info-title{
    z-index: 2;
    color: white;
}

.info-title img{
    height: 100px;
}

.info-title h2{
    font-size: 36px;
}

.info-title p{
    font-size:22px;
}

section.menu{
    background-color: #eb6a2d;
    padding: 15px 2%;
}


nav.menu-desktop li{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
}

nav.menu-desktop li a{
    color:white;
}

nav.menu-desktop li a:hover{
    text-decoration: underline;
}

section.menu h2, nav.menu-mobile{
    display:none;
}

nav.menu-mobile{
	width: 30px;
	height: 30px;
	background-image: url('../images/menu.png');
    background-size: 100% 100%;
    cursor:pointer;
	display: none;
}

nav.menu-mobile ul{
    width: 100%;
    position:absolute;
    left:50%;
    list-style-type:none;
    transform: translateX(-50%);
    top:calc(30vh + 63px);
    z-index: 99999;
    display:none;
}

nav.menu-mobile ul li{
    background-color: #e762259c;
    width: 100%;
    border: 1px solid #eb6a2d;
    padding: 10px 0;
    cursor: pointer;
}

nav.menu-mobile ul li a{
    color:white;
    text-transform: uppercase;
}



@media screen and (max-width: 780px){

    .top-title{
        height: 30vh;
    }

    nav.menu-desktop{
        display: none;
    }


    nav.menu-mobile{
        display:block;
        float:right;
    }

    section.menu h2{
        color: white;
        float:left;
        display:block;
    }


    .info-title{
        width: 100%;
        padding: 0 2%;
    } 
    
    
    .info-title p{
        display: none;
    }

    

}