section.main{
    position: relative;
    width: 100%;
    min-height: 400px;
    /* background-color: rgb(231, 229, 229); */
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div.inicio {
    position: relative;
    min-height: 400px;
    padding: 20px 2%;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image-inicio{
    
}

.image-inicio img{
    height: 300px;
}

.info-inicio{
    max-width: 30%;
    color: white;
    
}

.info-inicio h2{
    padding: 20px 0;
}

@media screen and (max-width: 780px){

    section.main .container .info-inicio{
        max-width: 100%;

        
    }

    section.main .container .info-inicio p{
        text-align: justify;
        
    }

}