section.main{
    position: relative;
    width: 100%;
    height: 40vh;
    /* min-height: 400px; */
    background-color:#f7f5f5;
    /* background-image: url('../images/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

div.inicio {
    position: relative;
    height: 100%;
    padding: 20px 2%;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image-inicio img{
    height: 300px;
}

.info-inicio{
    max-width: 30%;
    /* color: white; */
    
}

.info-inicio h2{
    padding: 20px 0;
}

.slider{
    position: relative;
}
.slider-content{
    position: absolute;
    display:none;
    width: 100%;
}

@media screen and (max-width: 780px){

    section.main{
      
        min-height: 500px;
       
    }

    section.main .container .info-inicio{
        max-width: 100%;

        
    }

    section.main .container .info-inicio p{
        text-align: justify;
        
    }

}