*{margin:0;padding: 0;box-sizing: border-box;}
html,body{height: 100%;}
.clear{clear: both;}

/* font-family: 'Anton', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oxanium', cursive; */






















@media screen and (max-width: 780px){


    


}

